* text=auto eol=lf
*.vsix binary
*.case.json text eol=lf
*.solver.json text eol=lf
cases/ACTIVSg70k.case.json filter=lfs diff=lfs merge=lfs -text
cases/EastWest.case.json filter=lfs diff=lfs merge=lfs -text
cases/USA.case.json filter=lfs diff=lfs merge=lfs -text
